In [2]:
import pandas as pd

In [1]:
targetUrl = "https://www.data.go.kr/cmm/cmm/fileDownload.do?atchFileId=FILE_000000002579913&fileDetailSn=1&dataNm=%ED%95%9C%EA%B5%AD%EB%B6%80%EB%8F%99%EC%82%B0%EC%9B%90_%EC%98%A4%ED%94%BC%EC%8A%A4%ED%85%94%20%EA%B0%80%EA%B2%A9%EB%8F%99%ED%96%A5%EC%A1%B0%EC%82%AC_%EC%A0%84%EC%84%B8%EA%B0%80%EA%B2%A9(%EC%A7%80%EC%97%AD%EB%B3%84)_20220630"

In [4]:
indata = pd.read_csv(targetUrl, encoding="ms949")

In [6]:
indata.head(3)

,지역,2020-07(평균전세가격),2020-07(평균단위당전세가격),2020-07(중위전세가격),2020-07(중위단위당전세가격),2020-08(평균전세가격),2020-08(평균단위당전세가격),2020-08(중위전세가격),2020-08(중위단위당전세가격),2020-09(평균전세가격),...,2022-04(중위전세가격),2022-04(중위단위당전세가격),2022-05(평균전세가격),2022-05(평균단위당전세가격),2022-05(중위전세가격),2022-05(중위단위당전세가격),2022-06(평균전세가격),2022-06(평균단위당전세가격),2022-06(중위전세가격),2022-06(중위단위당전세가격)
0,전국,163525,4370,156386,4266,163768,4376,156762,4273,164087,...,163344,4424,172911,4573,163537,4432,173099,4579,163738,4436
1,수도권,175996,4797,167524,4682,176294,4805,167927,4690,176681,...,175075,4863,186736,5040,175373,4873,186985,5048,175621,4879
2,지방,111980,2603,110353,2545,111998,2603,110617,2547,112035,...,114860,2608,115772,2645,114618,2608,115705,2643,114625,2607